
/* Base
---------------------------------------------------------------------*/

body {
	font-family:宋体,Arial,sans-serif;
	line-height:1.5;
	font-size:12px;
	background-color:#F2F2F2;
	color:#666;
	margin:0 auto;
}
a {
	outline:none;
}
h1,h2,h3,h4,h5,h6 {
	color:##FFFFFF;
	position:relative;
	word-spacing:-0.1em;
}
h4,h5,h6 {
	font-weight:bold;
}
h1,h2 {
	line-height:28px;
	margin-bottom:18px;
}
h1,h2,h3,h4,h5 {
	margin-top:18px;
}
h3,h4,h5,h6 {
	line-height:18px;
	margin-bottom:10px;
}
h1 {
	font-size:28px;
}
h2 {
	font-size:21px;
}
h3 {
	font-size:18px;
}
h4 {
	font-size:16px;
}
h5 {
	font-size:14px;
}
h6 {
	font-size:12px;
}

p {
	word-spacing:0.125em;
	hyphenate:auto;
	hyphenate-lines:3;
	margin-top:1em;
}


big,.big {
	font-size:120% !important;
	line-height:120%;
}


button {
	cursor:pointer;
}



/* Forms
---------------------------------------------------------------------*/

form {
	overflow:auto;
}
input:focus,textarea:focus,select:focus {
	outline-width:0; /* No outline border for Safary */
}
input[type="text"],input[type="password"],input[type="select"],input[type="search"],input[type="file"],textarea,select {
	border-color:#C4C4C4 #E9E9E9 #E9E9E9 #C4C4C4;
	border-style:solid;
	border-width:1px;
	padding:4px;
	color:#777;
}
textarea {
	line-height:18px;
	overflow:auto;
	font-family:宋体,Arial,sans-serif;
}
textarea.small {
	height:5.5em;
}
textarea.medium {
	height:10em;
}
textarea.large {
	height:20em;
}

input.full,select.full,textarea.full {
	width:97%;
}
input.title {
	font-size:20px;
}
input[type="submit"],input[type="reset"],input[type="button"] {
	margin-bottom:0;
}
input:focus,textarea:focus {
	-moz-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-box-shadow:0 1px 1px rgba(196,196,196,0.5);
	box-shadow:0 1px 1px rgba(196,196,196,0.5);
	-webkit-focus-ring-color:none;
	border-color:#c4c4c4;
	background-color:#FFFFF0;
}

label {
	font-size:14px;
	text-transform:uppercase;
	font-weight:bold;
}
label.required:before {
	content:"*";
	color:red;
	font-family:宋体,Arial,sans-serif;
}




/* Wrappers & headers
---------------------------------------------------------------------*/

.wrapper, .wrapper-login {
	margin:0 auto;
	text-align:left;
	width: 990px;
	position:relative;
}
.wrapper-login {
	width: 360px;
}

header#top {
	background-color: #282828;
	width:100%;
	background:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, rgb(39,38,34)),
		color-stop(0.8, rgb(50,50,50))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(39,38,34) 20%,
		rgb(50,50,50) 80%
	);
}



/* Page title
---------------------------------------------------------------------*/

#title {
	color:#FFF;
	font:bold 2.4em/26px 宋体,Arial,sans-serif;
	letter-spacing:-0.02em;
	padding:20px 0 22px;
	text-shadow:1px 1px 3px #111;
    text-align:center;
}

#page {
	float:left;
	width:100%;
	background-color:#FFF;
}


/* Footers
---------------------------------------------------------------------*/

footer#bottom {
	background-color:#F2F2F2;
	border-top:4px solid #D9D9D9;
	color:#999;
	float:left;
	font-size:11px;
	width:100%;
	background:-webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.2, rgb(242,242,242)),
		color-stop(0.8, rgb(254,254,254))
	);
	background: -moz-linear-gradient(
		center bottom,
		rgb(242,242,242) 20%,
		rgb(254,254,254) 80%
	);
	padding-bottom:2em;
}

footer#bottom p{
	clear:both;
	text-align:center;
	margin-bottom:24px;
	padding-top:12px;
	text-shadow:1px 1px 0 #fff;
}



/* Buttons
---------------------------------------------------------------------*/

.btn {
	display: inline-block;
	padding: 5px 10px;
	color: #777 !important;
	text-decoration: none;
	font-weight: bold;
	font-size: 11px;
	font-family: 宋体, Arial, sans-serif;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-shadow: 0 1px 1px rgba(255,255,255,0.9);
	position: relative;
	cursor: pointer;
	border:1px solid #ccc !important;
	background:#fff url("../img/btn-overlay.png") repeat-x !important;
}


.btn-blue {
	color: #fff !important;
	text-shadow: 0 1px 1px rgba(0,0,0,0.25);
	border:1px solid #2D69AC !important;
	background-color: #3C6ED1 !important;
}
.btn-blue:hover, .btn-blue:focus, .btn-blue:active {
	-moz-box-shadow:0 0 5px rgba(71, 131, 243, 0.9);
	-webkit-box-shadow:0 0 5px rgba(71, 131, 243, 0.9);
	box-shadow: 0 0 5px rgba(71, 131, 243, 0.9);
	border:1px solid #2D69AC !important;
}


.btn-special {
	font-size:110%;
	width: 210px;
}

